@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Courgette');
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif !important;
}
body{
	font-family: 'Poppins', sans-serif;
}
select,input,textarea{
	font-family: 'Poppins', sans-serif !important;
}
/*--listing--*/
.headr-top-pad{
	padding:80px 0 80px;
}
.list-top-clr {
	background: #049a43;
	float: left;
	width: 100%;
	position: relative;
	padding: 60px 0 120px;
	overflow: hidden;
	z-index: 1;
}
.list-top::before{
	background-image: url("../images/img/shapes-big.png");
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: repeat;
	opacity: 0.1;
	height: 100%;
}
.list-top-text-prt{
	float: left;
	width: 100%;
	position: relative;
	z-index: 30;
}
.list-filtr-prt h2 {
	color: #fff;
	font-weight: 700;
	font-size: 37px;
}
.main-search-input-wrap {
	max-width: 900px;
	margin: auto auto;
	position: relative;
}
.main-search-input {
	background: #fff;
	padding: 0 120px 0 0;
	border-radius: 30px;
	margin-top: 30px;
	box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.3);
}
.fl-wrap {
	float: left;
	width: 100%;
	position: relative;
}
.main-search-input::before {
	content: '';
	position: absolute;
	bottom: -40px;
	width: 50px;
	height: 1px;
	background: rgba(255,255,255,0.41);
	left: 50%;
	margin-left: -25px;
}
.main-search-button {
	position: absolute;
	right: 0px;
	height: 50px;
	width: 120px;
	color: #fff;
	top: 0;
	border: none;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	cursor: pointer;
	background: #049a43;
	margin-top:0px;
}
.bubble-bg {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 3;
}
.individual-bubble {
     position: absolute;
     border-radius: 100%;
     bottom: 0;
     background-color: #ccc;
     z-index: 1;
     width:5px !important;
     height:5px !important;
     background:#fff;
     opacity:0.3;
     -webkit-animation: fade 20s infinite;
}
@-webkit-keyframes fade{from{bottom:-24px;opacity:0.5;visibility:visible}to{bottom:120%}}@keyframes fade{from{bottom:-24px;opacity:0.5;visibility:visible}to{bottom:120%}}
.main-search-input-item, .main-search-input-item2 {
	float: left;
	box-sizing: border-box;
	border-right: 1px solid #eee;
	height: 50px;
	position: relative;
}
.main-search-input-item{
	width: 66.6%;
	text-align:center;
}
.main-search-input-item2{
	width: 33.3%;
}
.mr-pad{
	margin-right:40px !important;
}
.radio-flter .radio__container .radio__label.list_radio_label {
	font-size: 15px;
	font-weight: 400;
	color:#495057 !important;
}
.ml-0{
	margin-left:0px !important;
}
.form-control2 {
	font-size: 15px;
	font-family: 'Poppins', sans-serif !important;
	border:none !important;
}

.slctd-skil {
	display: inline-table;
	padding: 10px 18px;
	border-radius: 6px;
	border-top-right-radius: 6px;
	background: #fff;
	font-weight: 500;
	color: #495057;
	text-transform: uppercase;
	font-size: 13px;
	box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.2);
	margin-right: 12px;
	margin-bottom: 8px;
}
.slctd-skil i {
	cursor: pointer;
	background-color: #049a43;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	margin-left: 10px;
}
/*--body part--*/
.body-prt{
	background-color:#f9f9f9;
}
.listing-item {
	margin-bottom: 20px;
}
.listng-block {
	border-radius: 10px;
	border: 1px solid #eee;
	float: left;
	width: 100%;
	position: relative;
	padding: 30px 20px 10px;
	background: #fff;
	margin-bottom: 40px;
	/*min-height:325px;*/
}
.listng-block a.ctrgy {
    /* background-color: #0ee066; */
    /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3EAAFD), to(#2dce70)); */
    /* background: -webkit-linear-gradient(top, #049a43, #2dce70); */
    position: absolute;
    top: -20px;
    left: 20px;
    padding: 10px 15px;
    color: #049a43;
    border-radius: 4px;
    z-index: 5;
    background-color: #fff;
    border: 1px solid #eee;    
    margin-right: 75px;
    font-weight: 600;
    
}
.listng-block a.ctrgy h2{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.01em;
    margin-top:0px;
    margin-bottom:0px;
    max-width: 405px;
}
.listng-block h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	color: #333;
	margin-top: 15px;
}
.budgt-sec{
	position: absolute;
	z-index: 4;
	right: 20px;
	top: 20px;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	padding: 6px 10px;
	border-radius: 4px;
	background: rgba(0,0,0,0.41);
	color: #fff;
	cursor: pointer;
}
.list-tme {
	position: absolute;
	top: 12px;
	right: 18px;
	color: #999;
	font-size: 13px;
}
.listng-block .star-style {
	font-size: 15px;
}
.brdr-grey {
	border: 1px dashed #eee;
	margin-top: 15px;
	margin-bottom: 15px;
}
.media.media-custom {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
	align-items: flex-start;
}
.media-custom .media-body {
	width: 100%;
}
.media-custom img {
	border-radius: 50%;
	margin-right: 15px;
}
.media-custom p i, .star-style{
	float: left;
	margin-right: 7px;
	color: #FACC39;
	font-size: 14px;
}
.media-custom .media-body h4{
	margin-bottom:8px;
}
.dstnce {
	font-size: 13px !important;
	margin-top: 8px;
}
.dstnce span {
	color: #049a43;
	font-size: 16px;
	margin-left: 7px;
}
.snd-btn-reqst {
	border: none;
	padding: 8px 24px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	background: #049a43;
	text-transform: uppercase;
	font-weight: 600;
	display:inline-block;
	border: 1px solid #049a43;
}
.snd-btn-reqst:hover, .snd-btn-reqst:focus{
	color:#fff;
	-webkit-box-shadow: 0 1px 2px 0 rgba(4,154,67,.451),0 1px 3px 1px rgba(4,154,67,.302);
	box-shadow: 0 1px 2px 0 rgba(4,154,67,.451),0 1px 3px 1px rgba(4,154,67,.302);
}
.snd-btn-reqst-blck {
	border: none;
	padding: 8px 24px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	background: #242424;
	text-transform: uppercase;
	font-weight: 600;
	display:inline-block;
}
.snd-btn-reqst-blck:hover, .snd-btn-reqst-blck:focus{
	color:#fff;
	-webkit-box-shadow: 0 1px 2px 0 rgba(36,36,36,.451),0 1px 3px 1px rgba(36,36,36,.302);
	box-shadow: 0 1px 2px 0 rgba(36,36,36,.451),0 1px 3px 1px rgba(36,36,36,.302);
}
.listng-block p b {
	margin-left: 6px;
	font-size: 17px;
	font-weight: 500;
}
.pendng-btn {
	padding: 8px 23px;
	border-radius: 4px;
	border: 1px dashed #f46517;
	background: none;
	display: inline-block;
	/*font-size: 13px !important;*/
}
/*--footer--*/
.social-links {
	text-align: center;
}
/*--responsive--*/
@media screen and  (min-width: 641px) and (max-width: 745px){
	.mr-pad {
		margin-right: 10px !important;
	}	
}
@media screen and (max-width: 640px){
	.mr-pad {
		margin-right: 0px !important;
	}
	.main-search-input {
		background: rgba(255,255,255,0.2);
		padding: 14px 20px 10px;
		border-radius: 10px;
		box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.0);
	}
	.main-search-input-item {
		width: 100%;
	}
	.main-search-input-item2 {
		width: 100%;
	}
	.main-search-button {
		position: relative;
		width: 100%;
		color: #fff;
		top: 4px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.main-search-input-item, .main-search-input-item2 {
		border-right: 0px solid #eee;
	}
	.radio-flter .radio__container .radio-inline {
		margin-right: 0px;
	}
	.radio-flter .radio__container .radio__label.list_radio_label {
		color: #fff !important;
	}
	.radio-flter .radio__container .radio:checked + .radio__label::before {
		border-color: #fff;
	}
	.radio-flter .radio__container .radio__label::after {
		background-color: #fff;
	}
	.radio-flter .radio__container .radio__label:hover::before {
		border-color: #fff;
	}
	.list-filtr-prt h2 {
		font-size: 30px;
		line-height: 45px;
	}
	.list-top-clr {
		padding: 30px 0 120px;
	}
	.main-search-button.main-search-button2 {
		width: 100% !important;
	}
}

/*--detail part--*/
.detl-txt-prt p{
	color: rgba(255,255,255,0.71);
	display: inline-block;
	padding: 0 16px;
	position: relative;
	font-weight: 500;
}
.detl-txt-prt p:before{
	background: #fff !important;
	content: '';
	position: absolute;
	top: 50%;
	right: -4px;
	margin-top: -3px;
	width: 6px;
	height: 6px;
	border-radius: 100%;
}
.detl-txt-prt p:after{
	background: #fff !important;
	content: '';
	position: absolute;
	top: 50%;
	left: -4px;
	margin-top: -3px;
	width: 6px;
	height: 6px;
	border-radius: 100%;
}
.detl-txt-prt h2{
	font-size: 44px;
	color: #fff;
	float: left;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 34px;
	font-weight: 700;
}
.user-profile-avatar {
	width: 150px;
	height: 150px;
	overflow: hidden;
	display: inline-block;
	margin: 10px 0 15px;
	border-radius: 100%;
	box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.2);
}
.user-profile-avatar img {
	width: 150px;
	height: 150px;
}
.listing-rating i {
	color: #FACC39;
}
.user-profile-rating i {
	margin: 0 4px;
}
.list-top-clr.list-top-clr2 {
	padding: 40px 0 60px;
}
.header-sec-link2 {
	position: absolute;
	bottom: -12px;
	left: 0;
	width: 100%;
	z-index: 20;
}
.header-sec-link2 span {
	display: inline-table;
	padding: 15px 40px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background: #f9f9f9;
	font-weight: 700;
	color: #222;
	text-transform: uppercase;
	font-size: 12px;
	box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.2);
	font-size: 14px;
}
.list-single-main-item{
	padding: 30px 30px;
	border-radius: 100%;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #eee;
	margin-bottom: 20px;
}
.list-single-main-item-title h3{
	color: #333;
	text-align: left;
	font-size: 18px;
	font-weight: 600;
}
.list-single-main-item-title p.dtl-para {
	text-align: left;
	color: #878C9F;
	font-size: 13px !important;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 400;
}
.budget-box {
	float: left;
	width: 100%;
	position: relative;
	border: 1px solid #eee;
	padding: 20px 0;
	border-radius: 6px;
	z-index: 20;
	background: #fff;
	overflow: hidden;
}
.time-line-icon {
	position: relative;
	margin-bottom: 10px;
	background: url(../images/img/clouds.png) no-repeat center;
	text-align: center;
}
.time-line-icon i{
	color: #049a43;
	font-size: 59px;
	margin-top:10px;
}
.budget-box h4 {
	text-align: center;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	font-weight: 300;
	font-size: 15px;
	color: #333;
}
.budget-box p {
	font-size: 25px;
	font-weight: 600;
}
.list-single-main-item-title p{
	font-size:15px;
	color:#333;
	margin-bottom:8px;
}
.list-tme2 {
	position: absolute;
	top: 32px;
	right: 41px;
	color: #999;
	font-size: 13px;
}
/*--other listing pge--*/
.hdr-sec-portn {
	padding: 35px 0 !important;
}
.pendng-btn.green-dshed-brdr {
	border: 1px dashed #049a43 !important;
}
.main-search-input-wrap2 {
	max-width: 100%;
	margin: auto auto;
	position: relative;
}
.main-search-input-item.width-60{
	width:60%;
}
.main-search-input-item2.width-40{
	width:40%;
}
.main-search-input.main-srch-inpt-2::before {
	background: none;
}
.mr-0{
	margin-right:0px !important;
}
.dsply-block{
	display:block;
}
.list-image-crcle ul{
	margin:0;
	padding:0;
}
.list-image-crcle ul li{
	list-style-type:none;
	display:inline-block;
}
.list-image-crcle ul li img {
	border: 2px solid #fff;
	-webkit-box-shadow: 0 2px 10px 0 rgba(107,111,128,.3);
	box-shadow: 0 2px 10px 0 rgba(107,111,128,.3);
	border-radius: 50% !important;
	/*width: 45px;*/
	vertical-align: bottom;
	white-space: nowrap;
	border-radius: 1000px;
	height: 45px;
}
.pull-up:hover {
	z-index: 999;
	-webkit-transform: translateY(-4px) scale(1.02);
	-moz-transform: translateY(-4px) scale(1.02);
	-ms-transform: translateY(-4px) scale(1.02);
	-o-transform: translateY(-4px) scale(1.02);
	transform: translateY(-4px) scale(1.02);
	-webkit-box-shadow: 0 14px 24px rgba(62,57,107,.2);
	box-shadow: 0 14px 24px rgba(62,57,107,.2);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
	border-radius: 50% !important;
}
.list-image-crcle ul li + li {
    margin-left: -14px;
}
.clr-orange {
	color: #f46517;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.01em;
}
.clr-green {
	color: #049a43 ;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.01em;
}
.main-search-input-wrap.main-block-small{
	max-width: 430px;
}
.brdr-radius-30{
	border-radius:30px !important;
}
.width-100{
	width:100%;
}
@media screen and (max-width: 1199px){
	.main-search-input.main-srch-inpt-2 {
		background: rgba(255,255,255,0.2);
		padding: 14px 20px 10px;
		border-radius: 10px;
		box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.0);
	}
	.main-search-input-item.width-60 {
		width: 100%;
	}
	.main-search-input-item2.width-40 {
		width: 100%;
	}
	/*.main-search-button.main-search-button2 {
		position: relative;
		width: 70%;
		color: #fff;
		top: 4px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		margin: 0 auto;
		display: block;
	}*/
	.radio-flter.radio-flter2 .radio__container .radio-inline {
		margin-right: 0px;
	}
	.radio-flter.radio-flter2 .radio__container .radio__label.list_radio_label {
		color: #fff !important;
	}
	.radio-flter.radio-flter2 .radio__container .radio:checked + .radio__label::before {
		border-color: #fff;
	}
	.radio-flter.radio-flter2 .radio__container .radio__label::after {
		background-color: #fff;
	}
	.radio-flter.radio-flter2 .radio__container .radio__label:hover::before {
		border-color: #fff;
	}
	.main-search-input-item.width-60, .main-search-input-item2.width-40{
		border-right: 0px solid #eee;
	}
	.list-top .checks-le-wre input[type="checkbox"] + label {
		color: #fff;
	}
	.checks-le-wre input[type="checkbox"] + label::before {
		border: 2px solid #fff;
	}
}
@media screen and (max-width: 521px){
	.main-search-input-item.width-60 {
		width: 100%;
		margin-bottom: 35px;
	}
}
/*--slider area--*/
.slider-container {
	position: relative;
}
.slider {
	position: relative;
}
.nivo-caption {
	background: transparent none repeat scroll 0 0;
	box-sizing: border-box;
	color: #fff;
	left: 0;
	overflow: hidden;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 8;
}
.nivo-caption {
	color: #fff;
	text-align: center;
}
.slide1-text {
	height: 350px;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.middle-text {
	height: 100%;
}
.nivo-directionNav .nivo-prevNav {
	left: 20px;
}
.nivo-prevNav, .nivo-nextNav {
	border: 1px solid #ddd;
	color: #ddd;
	font-size: 13.64px;
	font-weight: 400;
	text-transform: uppercase;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.nivo-prevNav, .nivo-nextNav {
	color: #ddd;
	font-size: 13.64px;
	font-weight: 400;
	text-transform: uppercase;
}
.nivo-directionNav a {
	position: absolute;
	top: 45%;
	z-index: 9;
	cursor: pointer;
}
.nivo-directionNav .nivo-nextNav {
	right: 20px;
}
.nivo-prevNav:hover, .nivo-nextNav:hover {
	background: #111111 none repeat scroll 0 0;
	color: #fff;
}
.slider-hed-prt {
	font-size: 45px;
	font-weight: 800;
	letter-spacing: 0.01em;
	width: 63%;
	margin: 0 auto;
	line-height: 68px;
}
.slider-para {
	width: 70%;
	margin: 30px auto;
	line-height: 33px;
	font-size: 18px;
	font-weight: 500;
}
.text-center{
	text-align:center !important;
}
.snd-btn-reqst.bck-fild {
	background-color: #fff;
	color: #333;
	font-weight: bold;
	letter-spacing: 0.01em;
}
.feture{
	background:#f4f5fa url("../images/img/shapes-big2.png");
	width: 100%;
	height: 100%;
	background-repeat: repeat;
	height: 100%;
}
.single-feature {
	border: 1px solid #ddd;
}
.single-feature:hover{
	-webkit-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	-moz-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	-ms-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	-o-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	border: 1px solid #049a43;

}
@media screen and  (min-width: 992px) and (max-width: 1000px){
	.slider-hed-prt {
		font-size: 30px;
	}
	.slider-para {
		font-size: 14px;
	}
}
@media screen and  (min-width: 768px) and (max-width: 991px){
	.slider-para {
		font-size: 14px;
	}
	.slider-hed-prt {
		font-size: 23px;
	}
}
@media screen and  (min-width: 641px) and (max-width: 767px){
	.slider-hed-prt {
		font-size: 21px;
	}
	.slider-para {
		font-size: 13px;
	}
}
@media screen and  (min-width: 481px) and (max-width: 640px){
	.slider-hed-prt {
		font-size: 13px;
	}
	.slider-para {
		width: 85%;
		margin: 0px auto 8px;
		font-size: 11px;
	}
}
@media screen and (max-width: 991px){
	.single-feature {
		margin-bottom: 25px;
	}
	.mobile-features .tab-content {
	    padding: 155px 0 !important;
	}
	.insight-sec{
		background-image:none !important;
	}
	.process-item {
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 767px){
	.app-dwnload-img {
		margin-top: 25px;
	}
	.mb-20-res {
    margin-bottom: 15px;
}
}
@media screen and (max-width: 480px){
	.nivoSlider img{
		min-height:100vh;
		object-fit:cover;
	}
	.slide1-text {
		height: auto;
	}
	.slider-hed-prt {
		font-size: 24px;
		line-height: 36px;
	}
	.nivo-directionNav .nivo-prevNav {
		left: 5px;
	}
	.nivo-directionNav .nivo-nextNav {
		right: 5px;
	}
	.slider-para {
		width: 77%;
		font-size: 13px;
		margin: 15px auto;
		line-height: 25px;
	}
	.mobile-features {
		padding: 0 35px;
	}
}
@media screen and  (min-width: 561px) and (max-width: 991px){
	.mobile-features .tab-content {
	    padding: 110px 0 !important;
	}
}
@media screen and  (min-width: 992px) and (max-width: 1023px){
	.mobile-features .tab-content {
		margin-left: 190px;
	}
}
@media screen and  (min-width: 1024px) and (max-width: 1200px){
	.mobile-features .tab-content {
		margin-left: 207px;
	}
}
/*--nearby user list--*/
.nerby_user_list {
	background-color: #fff;
	-webkit-box-shadow: 0 2px 22px 0 rgba(0,0,0,.05);
	-ms-box-shadow: 0 2px 22px 0 rgba(0,0,0,.05);
	-o-box-shadow: 0 2px 22px 0 rgba(0,0,0,.05);
	-moz-box-shadow: 0 2px 22px 0 rgba(0,0,0,.05);
	box-shadow: 0 2px 22px 0 rgba(0,0,0,.05);
	color: #1f1f1f;
	display: block;
	/* margin-bottom: 30px; */
	position: relative;
	/* float: left; */
	max-width: 250px;
	border-radius: 0 0 4px 4px;
	margin: 0 auto 25px;
}
.near_user_img{
	position:relative;
}
.near_user_img img{
	width:250px;
	height:250px;
}
.near_user_img::after{
	background: -moz-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.3));
	background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.3));
	background: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(255,255,255,0)), to(rgba(0,0,0,.3)));
	background: -o-linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.3));
	background: rgba(0,0,0,0) linear-gradient(rgba(255,255,255,0), rgba(0,0,0,.3)) repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	width: 100%;
}
.nearby_user_info h4 a{
	font-size: 17px;
	font-weight: 600;
	margin-top: 0px;
	color: #333;
	margin-bottom: 8px;
}
.nearby_user_info{
	padding:20px 20px;
}
.dstnce_tag {
	position: absolute;
	bottom: -12px;
	right: 14px;
	background-color: #25a25a;
	background-image: -moz-linear-gradient(center bottom, rgba(0,0,0,.17) 0%, rgba(255,255,255,.17) 100%);
	background-image: -webkit-linear-gradient(center bottom, rgba(0,0,0,.17) 0%, rgba(255,255,255,.17) 100%);
	background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(0,0,0,.17)), to(rgba(255,255,255,.17)));
	background-image: -o-linear-gradient(center bottom, rgba(0,0,0,.17) 0%, rgba(255,255,255,.17) 100%);
	background-image: linear-gradient(center bottom, rgba(0,0,0,.17) 0%, rgba(255,255,255,.17) 100%);
	font-style: normal;
	padding: 5px 12px;
	color: #FFF;
	font-size: 13px;
	font-weight: 600;
	border-radius: 5px;
	z-index: 1;
	text-align:center;
}
.map{
	padding:0px;
}
/*--insight index block--*/
.insgt_block{
	width:100%;
	position: relative;
}
.process-item {
	float: left;
	width: 100%;
	position: relative;
	border: 1px solid #eee;
	padding: 40px 30px 25px;
	border-radius: 6px;
	z-index: 20;
	background: #fff;
	overflow: hidden;
}
.process-count {
	position: absolute;
	z-index: 1;
	font-size: 84px;
	font-weight: bold;
	left: -22px;
	top: -10px;
	opacity: 0.1;
	color: #666;
}
.time-line-icon {
	position: relative;
	margin-bottom: 30px;
	background: url(../images/clouds.png) no-repeat center;
	margin-top: 20px;
}
.time-line-icon img {
	margin: 18px auto 0px;
	max-width: 60px;
}
.process-item h4 {
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	font-weight: 600;
	color: #333;
}
.process-item p {
	text-align: center;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0.02em;
	color: #31444a;
}
.process-item:hover .process-count{
	color:#049a43;
	opacity: 0.2;
}
/*--ingisght image--*/
.hw-it-wrks {
	background: #f4f5fa !important;
}
.insight-sec {
    position: relative;
    background-image: url('../images/hirer_insight/insight_img1.png'), url('../images/hirer_insight/insight_img2.png');
    background-position: right 0px top 50%, left 0px top 50%;
    background-repeat: no-repeat;
    width: 100%;
}
/*--slider image --*/
.nivoSlider {
	height: 500px !important;
}
.mt-30{
	margin-top:30px !important;
}
textarea.form-control {
	height: auto;
	resize: none;
}
/*--select days --*/
.recurrng-block .checkbox:not(last-of-type) {
	display: inline-block;
	margin-right: 7px;
}
.recurrng-block .checkbox {
	position: relative;
}
.recurrng-block .checkbox input {
	visibility: hidden;
}
.recurrng-block .checkbox input:checked + label {
	background-color: #049a43;
	border-color: #049a43;
	box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.4);
	color: #fff;
}
.recurrng-block .checkbox label {
	width: 92px;
	height: 40px;
	background-color: #f7f7f7;
	border: 1px solid #dddddd;
	max-width: none;
	border-radius: 25px;
	cursor: pointer;
	transition: background-color 300ms ease, colour 300ms ease, box-shadow 300ms ease;
	line-height: 38px;
	text-align: center;
	font-weight: 600;
}
.recurrng-block .checkbox input:checked + label::after {
	opacity: 1;
}
.checkbox label::after, .radio label::after {
	content: '';
	display: table;
	clear: both;
}
.recurrng-block .checkbox label{
	min-height: 20px;
	padding-left: 0px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer;
}
/*--slider correction--*/
.nivoSlider img {
	height: 100% !important;
	object-fit: cover;
}
/*--nearby list--*/
.cht_img_blck img {
	max-width: 25px;
	position: absolute;
	bottom: 25px;
	right: 20px;
}
/*--profile dropdown--*/
.mainHeader .profile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #049a43;
}
.profile.dropdown {
	margin-top: -10px;
}
/*--chnged css of profile dropdown--*/
.navbar.navbar-default.mainHeader .dropdown-menu {
	border-radius: 2px;
	padding: 0;
	top: 64px;
	right: 12px;
}
.navbar.navbar-default.mainHeader .dropdown-menu {
	border-radius: 2px;
	padding: 0;
	top: 54px;
	/* left: -115px !important; */
	right: 0px;
}
/*--16 april--*/
.nivo-caption {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=1);
}
.mr-10{
	margin-right:10px;
}
.nivoSlider .cap-contact a span img {
	position: relative;
	max-width: 22px !important;
	margin-right: 10px;
	height: inherit !important;
}
.snd-btn-reqst.banr_btn {
	padding: 12px 28px;
}
.single-feature {
	min-height: 299px;
}
.mobile-features .tab-content > .tab-pane {
	min-height: 115px;
}
.quote_box{
	max-width:80%;
	margin:0 auto;
	line-height:45px;
}
.main-hed.fnt_sze_30 {
	font-size: 22px;
}
@media screen and (max-width: 480px){
	.nivoSlider .cap-contact a span img {
		position: relative;
		max-width: 25px !important;
		margin-right: 10px;
		min-height: 25px;
	}
}
@media screen and  (min-width: 1280px) and (max-width: 1430px){
	.quote_box {
		max-width: 65%;
	}
}
@media screen and  (min-width: 992px) and (max-width: 1279px){
	.quote_box {
		max-width: 55%;
	}
	.main-hed.fnt_sze_30 {
	    font-size: 22px;
	}
}
@media screen and (max-width: 991px){
	.quote_box {
		max-width: 100%;
	}
}
.snd-btn-reqst.bck-fild.banr_btn.back_blck, .snd-btn-reqst.bck-fild.banr_btn.back_blck:hover {
	background-color: #111;
	color: #fff;
	border: 1px solid #ccc;
}
.sgn_as {
	/* display: block; */
	margin-bottom: 15px !important;
}


.featuresHead h2 {
    font-size: 26px;
    width: 100%;
    max-width: 650px;
    line-height: 40px;
    margin: 0 auto;
}




/*========================
        29-4-19 GP
=======================*/

/* Already in Live */
.listng-block a.titleTxt, a.AwayTxt {
    color: #333;
}


/* New css need to add on live */

.list-tme {
    top: 45px;
}
.listng-block h3 {
    padding-right: 80px;
}
.moreInfoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.moreInfoClick:hover {
    /*color: #05ce59;*/
    /*color: #b7b7b7;*/
    background-color: #f2f2f2;
}
.moreInfoClick {
    font-weight: 500;
    color: #049a43;
    font-size: 16px;
    transition: all ease-in-out 0.15s;
    -webkit-transition: all ease-in-out 0.15s;
    -moz-transition: all ease-in-out 0.15s;
    padding: 5px;
    border-radius: 3px;
}

.jobAction {
    position: absolute;
    top: 5px;
    right: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
}
.listing-item:hover .jobAction{
	opacity: 1;
    visibility: visible;
}
.jobAction a {
    font-size: 18px;
    color: #333;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
}
.jobAction a:hover {
	background-color: #f2f2f2;
	transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
}

/* FAQ's  8/05/2019*/
.faqBlock #accordion .panel-default>.panel-heading .panel-title a.collapsed:before {
    content: "+";
    margin-right: 0px;
    color: #049a43;
    font-size: 30px;
}

.faqBlock #accordion .panel-default>.panel-heading .panel-title a:before {
    color: #049a43;
    content: "-";
    float: right;
    font-size: 40px;
    margin-right: 0;
    padding: 0 13px;
    font-weight: normal;
}
.faqBlock #accordion .panel-default {
    border: 1px solid #dee1e4;
    position: relative;
    overflow: hidden;
    background: #fff;
    margin-bottom: 5px;
}
.faqBlock .panel-default > .panel-heading {
    padding: 0px;
        padding-left: 0px;
    border-radius: 0px;
    overflow: hidden;
    border: none;
    padding-left: 15px;
    background: none;
}
.faqBlock #accordion .panel-default > .panel-heading .panel-title a.collapsed {
    color: #123641;
}
.faqBlock .panel-default > .panel-heading a {
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    font-weight: 500;
    padding: 0px;
    color: #049a43;
    display: inline-block;
    line-height: 32px;
	padding: 12px 0;
}
.faqBlock .panel-default > .panel-heading + .panel-collapse > .panel-body p{
	font-size: 15px;
	line-height: 22.5px;
	margin: 0;
}
.faqHead h2 {
    font-size: 22px;
    margin-bottom: 15px;
}
.faqBlockSec{
	margin-bottom: 40px;
}

.videoSec video {
    width: 100%;
    border-radius: 10px;
    border: 5px solid #f8f8f8;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 12px 8px rgba(0,0,0,0.2);
}
.videoSec {
    text-align: center;
    margin-top: 20px;
}
/* 27/03/2019 */
.sec-pad-40{
	padding: 40px 0px;
}
.detail-payment .detailsec{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	background: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	-moz-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	-ms-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	-o-box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
	box-shadow: 0 5px 10px rgba(0,9,128,0.035),0 7px 18px rgba(0,9,128,0.05);
}
.detail-payment .jobhead{
	padding: 18px;
	border-bottom: 1px solid #eee;
}
.detail-payment .jobhead h2{
	font-size: 21px;
	margin: 0;
	padding: 0;
	font-weight: 500;
}
.detail-payment .jobTxt{
	padding: 15px 20px;
}
.detail-payment .jobTxt h3{
	font-size: 20px;
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #049a43;
}
.detail-payment .jobTxt h4{
	margin: 14px 0px;
	font-size: 17px;
}
.detail-payment .jobTxt p{
    font-size: 15px;
    margin-bottom: 12px;
}
.detail-payment .jobTxt p span{
    margin-left: 6px;
    font-size: 17px;
    font-weight: 500;
    float: right;
}
.detail-payment .jobTxt .table td{
	font-size: 16px;
	font-weight: 500;
    color: #31444a;
}
.detail-payment .jobTxt .table th{
	font-weight: 700;
	font-size: 17px;
}
.detail-payment .jobTxt .media-custom .media-body h4{
	margin-bottom: 8px;
	font-size: 16px;
	color: #333;
}
.pymtCheck {
  text-align: center;
  padding: 20px;
}
.pymtCheck img{
  width: 100%;
  max-width: 100px;
}
.pymtCheck h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 17px 0px 0px;
  padding: 0;
}
.pymtCheck h5 {
	font-size: 16px;
	margin-top: 18px;
	margin-bottom: 18px;
	color: #828282;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.paymentStatus{
    min-height: calc(100vh - 175px);
    position: relative;
}
svg {
  width: 100px;
  display: block;
  margin: 0px auto;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
.payment-txt ul{
    padding:0 0 0 15px;
    margin:0;
    color: #6c757d;
}
.payment-txt ul li p{ 
   margin-bottom: 5px;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}


/* New Select 11-05-2019 */
.lst-jobe-Select{
	text-align: center;
}
.lst-jobe-Select .btn-default{
	height: 50px;
	border: 1px solid #adadad;
	background: #fff;
	padding: 0px 25px;
	outline: none;
	box-shadow: none;
	border-radius: 24px;
}

.lst-jobe-Select .bootstrap-select.btn-group .dropdown-menu{
	padding: 0px;
}
.lst-jobe-Select .bootstrap-select{
	width: 100%!important;
	max-width: 440px;
	outline: 0;
}
.lst-jobe-Select .bootstrap-select.btn-group .dropdown-menu li{
	border-bottom: 1px solid #ccc;
}
.lst-jobe-Select .bootstrap-select.btn-group .dropdown-menu li:last-child{
	border-bottom: 1px solid transparent;
}
.lst-jobe-Select .open > .dropdown-toggle.btn-default,
.lst-jobe-Select .btn-default.active.focus, 
.lst-jobe-Select .btn-default.active:focus, 
.lst-jobe-Select .btn-default.active:hover, 
.lst-jobe-Select .btn-default:active.focus,
.lst-jobe-Select .btn-default:active:focus,
.lst-jobe-Select .btn-default:active:hover, 
.lst-jobe-Select .open > .dropdown-toggle.btn-default.focus, 
.lst-jobe-Select .open > .dropdown-toggle.btn-default:focus, 
.lst-jobe-Select .open > .dropdown-toggle.btn-default:hover{
	background: #fff;
	box-shadow: none;
	outline: 0px!important;
}
.lst-jobe-Select .bootstrap-select.btn-group .dropdown-toggle .filter-option{
	font-size: 16px;
	font-weight: 500;
	color: #242424;
}
.lst-jobe-Select .bootstrap-select.btn-group .dropdown-toggle .caret{
	right: 20px;
	border-top: 6px dashed;
	border-top: 4px solid\9;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}
.lst-jobe-Select .bootstrap-select .dropdown-menu .dropdown-menu.inner li a{
	line-height: 38px;
}
.lst-jobe-Select .dropdown-menu > li > a:hover {
    background-color: #f0f0f0;
}
.lst-jobe-Select button.btn.dropdown-toggle.btn-default:focus{
	outline: none!important;
}
/*--20 june changes --*/
.flag img {
	max-width: 45px;
	margin-left: 15px;
}
.google_btn_green {
	background-color: #049a43;
	min-width: 300px;
}
.google_btn_black{
	background-color:#242424;
}
.mt-20{
	margin-top:20px;
}
.alrdy_sgn a{
	color:#049a43;
	font-weight:bold;
}
.fnt_sze_14{
	font-size:14px !important;
}
.google_btn_green img, .google_btn_black img{
	width:25px;
	height:25px;
}
@media screen and (max-width: 1119px){
	.mrt-10{
		margin-top:10px;
	}
}
.mt-5{
	margin-top:5px;
}
.skp_txt {
	color: #828282 !important;
	font-weight: 600;
	margin-right: 15px;
	letter-spacing: 0.01em;
}
textarea.form-control {
	min-height: 150px;
}
/*--21 june--*/
.icn_tab span img {
	width: 100%;
	max-width: 25px;
	margin-right: 8px;
}
.modal-body.pop_sngle_prjct{
	padding: 15px 15px 0 15px;
}
.mb-15 {
	margin-bottom: 15px;
}
/*--feedback--*/
.google_btn_gradient{
	/*background: #049a43;*/
	background: -webkit-linear-gradient(-90deg, #242424, #049a43);
	background: -moz-linear-gradient(-90deg, #242424, #049a43);
	background: -ms-linear-gradient(-90deg, #242424, #049a43);
	background: -o-linear-gradient(-90deg, #242424, #049a43);
	background: linear-gradient(-90deg, #242424, #049a43);
}
.google-button.btn_wtch_video {
	background: none;
	border: 1px solid #242424;
}
.google-button.btn_wtch_video .google-button__icon{
	border-right: 1px solid #242424;
}
.google-button.btn_wtch_video .google-button__text{
	color:#242424;
}
.google-button.btn_wtch_video {
	width: 48%;
	margin: 0 auto;
}
.google_btn_gradient span img , .btn_wtch_video span img{
	width:25px;
	height:25px;
}
.wrker_age_pop{
	max-width:450px;
}
.wdth_mrgn_80{
	width:80%;
	margin:0 auto;
}
.google-button.btn_wtch_video.add_cat {
	width: 50%;
	 margin: 10px auto 0px;
	padding: 4px;
	border: 1px solid #828282;
}
.google-button.btn_wtch_video.add_cat .google-button__text{
	color:#242424;
	font-weight:500;
}
.card_img ul {
	margin: 0;
	padding: 0;
	display: inline-block;
}
.card_img ul li{
	list-style-type:none;
	float:left;
}
.card_img img {
	max-width: 60px !important;
	margin-right:10px;
}
.form-group.card_img {
	display: block;
	width: 100%;
}
.currnt_toggle{
	display:inline-block;
}
.currnt_toggle h2{
	float:left;
}
.togle{
	float:right;
}
.switch-toggle {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	border-radius: 25px;
	background-color: #989898;
}
.switch-toggle input {
	display: none;
}
.switch-toggle div {
	position: absolute;
	border-radius: 50%;
	background-color: #DFDFDF;
	transition: .1s ease;
}
.switch-toggle input:checked + div {
	left: 50%;
	background-color: #049a43;
}
.switch-toggle.outer div {
	width: 26px;
	height: 26px;
	top: -3px;
	left: -3px;
}
.currnt_toggle {
	display: inline-block;
	width: 100%;
}
.currnt_toggle h4 {
	float: left;
	width: 80%;
	color: #242424;
	font-size: 17px;
	margin-top: 0;
	font-weight: 600;
	letter-spacing: 0.01em;
	margin-bottom: 0px;
	line-height: 27px;
}
.togle label{
	margin-bottom:0rem !important;
}
.lowr_txt{
	color:#828282;
}
.card_img h2 {
	font-size: 18px !important;
	font-weight: 600 !important;
	color: #242424 !important;
	margin-top: 0px !important;
}
.save label{
	margin-bottom:0rem !important;
}
.input-group-addon {
	font-size: 18px;
}
.WorkerSide .btn-primary-form.clr-grn {
	border-color: #242424 !important;
}
/*--22 june--*/
.clr-grey-btn , .clr-grey-btn:hover {
	background-color: #949494;
	border: 1px solid #949494;
}
.lve-wre-btn:focus{
	color:#fff;
}
/*.urgnt_icn img{
	max-width:25px;
	margin-left:10px;
}*/
/*--24 june--*/
.dots_big_img img {
	max-width: 20px !important;
	margin-right: 12px;
	margin-top: -3px;
}
.cat_hed_style{
	color: #333;
	font-weight: 700;
	font-size: 19px;
	letter-spacing: 0.03em;
}
.slctd_sub_cat ul{
	margin:0;
	padding:0;
}
.slctd_sub_cat ul li {
	list-style-type: none;
	border-bottom: 1px solid #f0eded;
}
.inlne-block{
	display:inline-block;
	width:100%;
}
.inlne-block h4{
	display:inline-block;
	float:left;
}
.cat_hed_style.para {
	font-weight: 300;
	font-size: 17px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.inlne-block p {
	display: inline-block;
	float: right;
	color: #333;
	font-size: 18px;
	margin-bottom: 0px;
}
.inlne-block p span {
	background-color: #000;
	color: #fff;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 24px;
	margin-left: 10px;
	font-size: 13px;
}
.brdr-grey2 {
	border: 1px solid #cccbcb;
	margin-top: 15px;
	margin-bottom: 15px;
}
.slctd_sub_cat ul li:last-child{
	border-bottom:0px;
}
.dots_big_img.dots_big_img2 img {
	max-width: 17px;
}
/*--hire my jobs--*/
.jobAction {
    position: absolute;
    bottom: 9px !important;
    top: unset !important;
}
.listng_footer {
	min-height: 80px;
	display: block;
}
.urgnt_icn {
	position: absolute;
	top: -15px;
	right: 34px;
	max-width: 35px;
}
.body-prt2{
	background-color:#f2f2f2 !important;
}
.body-prt2 .listng-block a.ctrgy {
	border: 1px solid #e3e1e1 !important;
}
/*--hire my jobs detail --*/
.dlt-p-txt {
	/*font-weight: 600;*/
	color: #333 !important;
}
.dtl-txt {
	font-weight: 600;
}
.dlt-p-txt {
	font-size: 17px;
}
.job-lst-dte {
	font-size: 16px;
}
.dtl_budgt {
	font-size: 18px;
}
.dtl_budgt span b {
	font-size: 20px;
	font-weight: 600;
}
.detl_pra {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.01em;
	line-height: 27px;
}
.urgnt_icn_wdth {
	max-width: 35px;
	margin-left: 13px;
}
.job-detail {
	position:relative;
}
.jobAction_det{
	position:absolute;
}
.jobAction_det {
	top: 106px;
	right: 27px;
	transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
}
.jobAction_det a {
	font-size: 18px;
	color: #333;
	width: 35px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
}
.jobAction_det a:hover {
	background-color: #f2f2f2;
	transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
}
.moreInfoBlock.dtl_dys_hour {
	margin-top: 15px;
	font-size: 17px;
}
/*--members requsted--*/
.ignore_txt, .ignore_txt:hover {
	color: #828282;
	margin-left: 10px;
	font-size: 16px;
	font-weight: 600;
}
.job-lst-block {
	position: relative;
}
.mmbr_req_cht {
	position: absolute;
	right: 0;
}
/*--filter part job list --*/
.main-search-input-wrap.main-search-filter-prt {
	max-width: 100%;
}
.main-search-filter-prt .main-search-input-item.width-40 {
	width: 40%;
}
.main-search-filter-prt .main-search-input-item2.width-30 {
	width: 30%;
}
.main-search-input::before {
	display:none;
}
.header-sec-linkk {
	/*position: absolute;
	bottom: 10px;
	left: 0;*/
	width: 100%;
	z-index: 20;
	text-align: center;
}
.list-top-clr.list-top-clr2 {
	padding: 25px 0 0px !important;
}
.addjobskill {
	margin-top: 25px;
}
/*--25 june--*/
.main-search-button {
	height: 100% !important;
}
@media screen and (max-width: 640px){
	.main-search-button {
		height: 50px !important;
	}
}
.radio-flter.radio-flter2 .radio__container .radio-inline {
	 margin-right: 0px; 
}
.list-filtr-prt h2 {
	color: #fff;
	font-weight: 700;
	font-size: 35px !important;
	margin-top:0px;
	margin-bottom:0px;
}
.main-search-input-item, .main-search-input-item2 {
	height: auto !important;
}
.detl_pra {
	font-size: 15px !important;
}
.mlstone_calc h4 {
	font-size: 20px;
}
.mlstone_calc p {
	font-size: 17px;
}
.wdth_40_btn{
	width:40%;
	margin:0 auto;
}
.hor_prce{
	color:#828282;
	font-weight:normal;
}
.detl_address {
	color: #828282 !important;
}
.detl_address span{
	margin-right:8px;
}
.pb-0{
	padding-bottom:0 !important;
}
.cht_img_blck.cht_img_blck2 img {
	bottom: 90px;
}
.mls_plus {
	text-align: center;
	line-height: 25px;
	color: #6d716f;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 0px;
}
.mls_plus_payment {
	text-align: center;
	line-height: 25px;
	color: #38b577;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 0px;
}
.mb-0{
	margin-bottom:0px !important;
}
.mlstone_calc {
	border: 1px solid #dbdbdb;
	padding: 15px 25px;
}
.job-dlt-sub-txt2 {
	font-size: 15px !important;
}
.mlstone_calc p span{
	margin-right:8px;
}
.mlstone_calc{
	position:relative;
}
.cancl_mlstone{
	position:absolute;
}
.cancl_mlstone {
	position: absolute;
	right: -3px;
	top: -7px;
	background-color: #049a43;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
}
.pop-milstone img {
	max-width: 80px;
	margin-bottom: 20px;
}
.max-wdth-80{
	max-width:80%;
	margin:0 auto;
}
.cncel-btn {
	padding: 8px 24px;
	border-radius: 4px;
	border: 1px solid #242424;
	background: none;
	display: inline-block;
	font-size: 13px !important;
}
.clr-black {
	color: #242424;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.01em;
}
.ml-10 {
	margin-left: 10px;
}
/*--26 june 2019--*/
.max-wdth_60 {
	max-width: 60px;
	height: 60px !important;
}
.lst_accpt_blck h5{
	font-size: 18px;
}
.lst_accpt_blck .str-rate-lft.starActive ul li i{
	font-size: 14px;
}
.postn_absolute {
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px 5px;
}
.lst_accpt_blck{
	position:relative;
}
.lst_accpt_blck b {
	font-size: 15px !important;
}
.fnt_sze_18{
	font-size:18px !important;
}
.vew_prfle, .vew_prfle:hover, .vew_prfle:focus{
	color: #049a43;
	font-size: 15px;
	font-weight: 500;
}
.min_hgt_auto{
	min-height:auto !important;
	padding: 0 15px !important;
}
.job-lst-block.min_hgt_auto {
	margin-bottom: 25px !important;
}
.job-lst-photo img {
	height: 80px;
}
.cht-icn-img2 {
	position: absolute;
	right: 12px;
	top: 19px;
	max-width: 50px;
}
.pl-0{
	padding-left:0px !important;
}
/*--27_06-2019--*/
.min-hgt_blck {
	min-height: 56px;
}
.listng-block.cmpltd_blck_list {
	background-color: #efefef;
	border-color: #e6e3e3;
}
.cmpltd_blck_list .brdr-grey {
	border: 1px dashed #e6e3e3;
}
/*--28-06-2019--*/
.body-prt {
	background-color: #f2f2f2 !important;
}
.pay_para {
	font-size: 15px;
	line-height: 27px;
	margin-bottom: 25px;
}
.pay_para b {
	color: #049a43;
	font-size: 20px;
}
.sbmit_pop_hirer{
	background-color:#242424 !important;
}
.profile.dropdown ul li a i {
	margin-right: 8px;
}
/*--29-06--*/
.NotifiFooter.text-center a {
	color: #fff;
}
.navbar.navbar-default.mainHeader .dropdown-menu {
	top: 60px !important;
	right: 16px !important;
}
.tag_undr_field {
	float: right;
	font-size: 13px;
	margin-top: -4px;
	color: #828282;
	font-weight: 500;
}
.main-hed {
	margin: 0 !important;
	padding-top: 10px;
}
.main-hed.main-hed-index{
	margin:0 auto 40px !important;
}
.lowr-job-lst-sec{
	background-color:#f2f2f2 !important;
}
/*--review page --*/
.rev-pge-blk-sec {
	background-color: #fff;
	position: relative;
}
.rev-pge-blk-sec {
	box-shadow: none;
	padding: 20px;
	border: 1px solid #e4e4e4;
	border-radius: 10px;
}
.revew_para{
	font-weight: 300;
	color: #333;
	font-size: 15px;
	letter-spacing: 0em;
}
.para.tme_revw{
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0em;
	color: #999;
}
.radio-flter .radio__container .radio__label.sttng_lbl::before {
	display: none;
}
.stng_hirer .card-num {
	padding-left: 0px;
}
.radio-flter .radio__container .radio__label.sttng_lbl {
	padding: 0px 10px 15px 0px;
}
.rmve {
	position: absolute;
	color: #ff0000;
	text-transform: uppercase;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-weight: 600;
}
.card-brdr {
	position:relative;
}
.clr-proprty-green, .clr-proprty-green:hover{
	background-color:#049a43;
	border:1px solid #049a43;
}
.max-wdth-95{
	max-width:95%;
}
.pop_rating_img {
	border-radius: 50%;
	margin-bottom: 12px;
	border: 1px solid #049a43;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: inherit !important;
}
/*--05-07-2019--*/
.dsply-inlne-blck.lft_sec {
	width: auto !important;
	margin-top: 20px;
}
.dsply-inlne-blck.rgt_sec {
	width: auto;
	margin-left: 35px;
}
.cht-lst, .cht-his {
    min-height: 500px !important;
    max-height: 500px;
}
.btn-primary-form:hover {
	color: #fff;
	background-color: #23c466;
	border-color: #23c466;
}
.add_skill_optn , .add_skill_optn:hover{
	background-color:#049a43;
	color:#fff;
}
.clr_link {
	color: #222 !important;
}
.resnd_email {
	color: #049a43 !important;
	font-weight: 400;
	text-transform: initial;
	letter-spacing: 0.01em;
}
/*--email_verified--*/
.headr_2{
	background-color:#242424;
}
.headr_2 img{
	width:100%;
	max-width: 130px !important;
}
.min_hgt_area {
    min-height: calc(100vh - 128px);
}
.vrfied_img img{
	max-width:26px;
	margin-left:5px;
}
/*--25-07-2019--*/
.form-wizard fieldset {
    text-align: left !important;
}
/*--26-07-2019--*/
.Ustype {
    display: block;
    margin-bottom: 10px;
}
.radio-inline {
    display: block;
    position: relative;
    padding-left:0px;
}
.input[type="radio"] {
    display: inline;
}
.usr-slct label {
    margin: 0;
}
.usr-slct input[type="radio"] + label span {
    border: 1px solid #d6d1d1;
}
.radio-inline span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    border-radius: 4px;
}
.user-type input[type="radio"]:checked + label span {
    background: #fff !important;
    border-color: #03c04a;
    color: #03c04a;
}
.user-type input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: auto;
    z-index: 99;
    width: 100%;
    height: 100%;
}
.Ustype label{
	display:block;
}
.radio_btn_img img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.slctd_sub_cat ul li:first-child { 
  padding-top:0px;
}
/*--27-07-2019--*/
.skil_hourly_rate {
    display: block;
}
.skil_hourly_rate h2 {
    padding-top: 0px;
    float: left;
}
.skil_hourly_rate h2, .skil_hourly_rate p {
    display: inline-block;
    color: #049a43;
}
.skil_hourly_rate h2, .skil_hourly_rate p {
    display: inline-block;
    color: #049a43;
}
.skil_hourly_rate p {
    float: right;
    margin-bottom: 0px;
    font-size: 15px;
}
.navbar.navbar-default.mainHeader .dropdown-menu.mble_prfle_fnt > li > a {
    color: #333;
}
/*--1 august--*/
input.rednly_back[readonly] {
    background-color: #fff;
}
/*--13 aug--*/
p.pendng-btn.clr-orange {
    margin: 0px !important;
}
/*--21 august--*/
.modl_usr_select .radio-inline span {
	height: auto; 
	line-height: 25px;
	padding: 10px 0;
}
.both_user_wdth{
	width:80%;
	margin:0 auto;
}
/*--23 august--*/
.wdth_set {
    max-width: 250px;
}
/*--30-08-2019--*/
.pad_rgt_0 {
	padding: 10px 5px !important;
}
.no_apply_btn_flter .main-search-input-item2{
	border-right:0px solid #000 !important;
}
.no_apply_btn_flter #job_skill{
	border-radius: 30px;
}
.flter_3_option .flter_3_optn_last{	
	border-right:0px solid #000 !important;
}
.flter_3_option .flter_3_optn_last select{
	border-radius: 30px;
}
.ad_crd_block h3 {
	color: #333;
	text-align: center;
	margin-top: 10px;
}
.ad_crd_block p {
	text-align: center;
	max-width: 78%;
	margin: 0 auto 15px;
	font-weight: 500;
	line-height: 27px;
}
.ad_crd_block img{
	max-width:100px !important;
	width:100%;
}
.ad_crd_block {
	text-align: center;
}
.input-group.date .bootstrap-datetimepicker-widget{
	z-index:1031;
}
.form-control.custom-select {
	padding-top: 10px;
}
.rate_detl_margin {
    font-weight: 500;
    padding-top: 5px;
    display: inline-block;
}
/*--5 septmber--*/
.brdr_img{
	border: 2px dashed #242424 !important;
}
/*--14 sep--*/
.add_crd_radio_btn label{
	width:100%;
	font-weight:500;
}
.wpwl-wrapper-registration-registrationId , .wpwl-wrapper-registration-brand{
	padding-right:30px;
}
.pymnt_btn {
    background-color: #049a43;
    border: 1px solid #049a43;
    color: #fff !important;
}

/*--25 september card ui--*/
.crd_modl.radio-flter .media-body .nme {
	color: #333;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 3px;
	display: inline-block;
	/* height: 29px; */
	position: relative;
	/* padding: 0px 10px 15px 28px; */
	cursor: pointer;
	vertical-align: bottom;
	transition: color 200ms ease;
	margin-top: 0px;
}
.crd_modl .media .media-left img {
	max-width: 80px;
	margin-right: 12px;
}
.crd_modl .media-body .para {
	font-size: 14px;
	color: #828282;
	margin-bottom: 0px;
	font-weight: 300;
}
.radio_absolute {
	position: absolute;
	display: inline-block;
	right: 0;
	top: 18px;
}
.crd_modl .media-body p span {
	font-weight: 600;
}
.crd_cursor{
	cursor:pointer;
}
.crd_modl .media-left{
	vertical-align: middle;
}
.radio_absolute a{
	cursor:pointer;
}

/*--07-10-2019--*/
.catgry_nearby {
	margin: 10px 0 10px 0;
}
.catgry_nearby {
    margin: 5px 0 0px 0;
    font-size: 14px;
    /*text-transform: capitalize;*/
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    line-height: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #828282;
    line-height: 23px;
    min-height: 46px;
}
.nearby_user_info {
    padding: 20px 20px 10px 20px !important;
}

/*--12 october--*/
.gm-style-iw{
	padding-right: 12px;
    padding-bottom: 12px;
}
div#content h1 {
    font-size: 20px;
    text-transform: capitalize;
    margin-top:0px;
}
.gm-ui-hover-effect{
	top: 2px !important;
    right: 0px !important;
}
p.view_prfle {
    font-size: 13px;
    font-weight: normal;
    color: #828282;
}
p.view_prfle a{
	font-weight:bold;
	font-size:14px;
	color:#049a43;
}
.sendr_txt p{
	margin:0 0 0px !important;
}
.bottom_wrapper{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.message_input_wrapper{
	display: inline-block;
    width: 100%;
}
span.uploadicon {
    margin-left: 0;
    display: inline-block;
    vertical-align: top;
    /* margin-top: 5px; */
}
.bottom_wrapper span.uploadicon i {
	/* border: 2px solid #049a43; */
	border-radius: 100%;
	color: #333;
	width: 30px;
	height: 30px;
	line-height: 27px;
	text-align: center;
	font-size: 18px;
}
.send_message{
	display: inline-block;
    float: right;
}
.bottom_wrapper textarea.form-control {
    height: 45px !important;
    line-height: 26px !important;
    min-height: 45px;
}
.uploadicon{
	position: relative;
}
.uploadicon input[type=file] {
  /*font-size: 100px;*/
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
    height: 100%;
}
.uploadicon i{
	cursor:pointer;
}
.receivr_time {
    font-size: 12px;
    color: #828282;
}
.receivr_txt p{
	margin:0 0 0px !important;
}
span.unred_msg {
    position: absolute;
    bottom: 23px;
    right: 13px;
    background-color: #3f9a43;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
}
/*--14 october--*/
.expred {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.04em;
    font-size: 13px;
}

/*--15 october 2019--*/
.load_more_btn {
	display: inline-block !important;
	width: 129px;
	margin: 0 auto;
	background-color: #049a43;
	font-size: 14px !important;
	border-radius: 4px;
	text-transform:uppercase;
	border: none;
    padding: 9px;
    color: #fff;
}
.NotifiMenu ul.listUl > li a.load_more_btn:hover{
	background: #049a43 !important;
}
.new_notifctn{
	background-color:#e7e7e7 ;
}
.NotifiMenu ul.listUl > li a .img_noti_catn img {
	max-width: 20px;
	height: auto;
	border: none;
	border-radius: 0;
}
.notificatn_media h4{
	width:75%;
	float: left;
}
.notificatn_media .img_noti_catn {
    width: 24%;
    padding-left: 1%;
    float: left;
}
.NotifiMenu ul.listUl > li a h4.media-heading {
	font-weight: 500;
	line-height: 22px;
}
.navbar.navbar-default.mainHeader .dropdown-menu.NotifiMenu {
    /*min-height: calc(100vh - 270px);*/
    min-width: 445px;
}
/*.NotifiMenu ul.listUl {
	height: 500px !important;
}*/
.NotifiMenu ul.listUl > li a.load_more_btn {
	padding: 9px !important;
}
.scrollNotification{
	overflow-x: hidden;
    overflow-y: auto;
    min-height: calc(100vh - 35vh);
    max-height: calc(100vh - 35vh);
}
.moreInfoBlock.notificatn_media{
	align-items: flex-start;
}

.dropdown-menu.pull-left.rgs {
    min-width: 220px;
}
/*--23 october--*/
.no-record h3 {
	width: 80%;
	margin: 0 auto;
	font-size: 18px;
	line-height: 27px;
}
.pos-rel-input{
	position: relative;
}
.absolute_icon_input ul{
	margin:0;
	padding:0;
}
.absolute_icon_input ul li {
	list-style-type: none;
	float: left;
	margin-left: 2px;
}
.absolute_icon_input {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
}
.bottom_wrapper span.uploadicon.snd_green i{
	color:#049a43;
}
.pos-re-dte{
	position: relative;
}
.job_action_absol{
	top: -5px;
	right: 0px;
}
/*--12 nov 2019--*/
.add-skill-button, .add-skill-button:hover {
    background: transparent;
    color: #3f9a43;
    line-height: 55px;
    text-align: center;
    font-weight: 500;
    border-left: 1px solid #ddd;
}